.hidden {
	display: none !important;
}

.todoContainer {
	max-width: 70vw;
	height: 100%;
	display: flex;
	margin: 0 auto;
}

.mainContent {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1.5rem;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	min-height: 50px;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: inherit;
	z-index: 999;
	border-bottom: 1px solid #555555;
}

header h1 {
	font-size: 1.5rem;
}

.filterButtons {
	display: flex;
	gap: 1rem;
}

.filterBtn {
	border: none;
	margin: 0 !important;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background-color: #a1a1a1;
	cursor: pointer;
	transition: background-color 0.3s;
}

.filterBtn:hover,
.filterBtn.active {
	background-color: #5c5cff;
	color: #fff;
}

.tasksList {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 0.7rem 0 0;
	margin: 1rem 0;
}

.taskItem {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #555555;
	border-radius: 12px;
	margin: 1rem 0;
}

.done .taskTitle {
	text-decoration: line-through;
	color: #888888;
}

.taskCheckbox {
	min-width: 40px;
	max-width: 40px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-right: 1px solid #555555;
}

.roundedCheckbox {
	min-width: 2rem;
	min-height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	background: #FFFFFF;
	border: 1px solid #555555;
	appearance: none;
	outline: none;
	vertical-align: middle;
	border-radius: 50%;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.roundedCheckbox:checked {
	appearance: auto;
	clip-path: circle(50% at 50% 50%);
	background-color: blue;
}

.taskDetails {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.5rem;
	gap: 0.5rem;
	cursor: default;
}

.taskTitle {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
}

.itemCategory {
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemCategory input[type="checkbox"] {
	max-width: 1rem !important;
	max-height: 1rem !important;
	min-width: 1rem !important;
	min-height: 1rem !important;
	pointer-events: none;
	margin: 0;
}

.taskCategory {
	width: 100%;
	font-size: 0.8rem;
	color: #888888;
	/* margin-left: 0.5rem; */
}

.taskActions {
	min-width: 60px;
	max-width: 60px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	gap: 0.5rem;
	border-left: 1px solid #555555;
}

.editBtn,
.deleteBtn {
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #888;
}

.editBtn:hover,
.deleteBtn:hover {
	color: #000;
}

.createDiv {
	display: flex;
	justify-content: end;
	gap: 2rem;
}

.createDiv input,
.createDiv button {
	margin: 5px 0 !important;
}

.createBtn {
	min-width: 130px;
	height: 30px !important;
	border: none;
	margin: 0;
	padding: 0.5rem 1rem;
	border-radius: 7px;
	background-color: #5c5cff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.createBtn:hover {
	background-color: #5c5cff;
	color: #ffffff;
}

.isInvalid {
	border-color: red;
}

.addTaskFooter {
	width: 100%;
	min-height: 160px;
	max-height: 160px;
	display: flex;
	align-items: center;
	border-top: 1px solid #555555;
	gap: 1rem;
}

.newTask {
	padding: 0.5rem 0 0;
	width: 100%;
}

button {
	color: #FFFFFF;
}

.isFirtsOfList {
	margin-top: 0 !important;
}

.isLastOfList {
	margin-bottom: 0 !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(193, 193, 193, 255);
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(193, 193, 193, 255);
	background-color: rgba(193, 193, 193, 255);
}