.todoContainer {
	height: 100%;
	display: flex;
	margin: 0 auto;
}

.mainContent {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	min-height: 35px;
	max-height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: inherit;
	z-index: 999;
	border-bottom: 1px solid #555555;
	gap: 0 1rem;
}

header h1 {
	font-size: 1.5rem;
}

.filtersDiv {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 0.7rem 0 0;
	margin-left: auto;
}

.filterBtn {
	border: none;
	margin: 0 !important;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	opacity: 0.6;
	color: #ffffff;
	background-color: #a1a1a1;
	cursor: pointer;
	transition: background-color 0.3s;
}

.filterBtn:hover {
	opacity: 1;
}

.filterBtn.active {
	background-color: #5c5cff;
	opacity: 1;
}

.tasksList {
	height: auto;
	max-height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 0.5rem 0 0;
	margin: 0.7rem 0;
	gap: 1rem;
}

.taskItem {
	width: 100%;
	min-height: 100px;
	max-height: 150px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #555555;
	border-radius: 12px;
}

.done .taskTitle {
	text-decoration: line-through;
}

.taskCheckbox {
	min-width: 50px;
	max-width: 50px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-right: 1px solid #555555;
}

.roundedCheckbox {
	min-width: 2rem;
	min-height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	background: #FFFFFF;
	border: 1px solid #555555;
	appearance: none;
	outline: none;
	vertical-align: middle;
	border-radius: 50%;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.roundedCheckbox:checked {
	appearance: auto;
	clip-path: circle(50% at 50% 50%);
	background-color: blue;
}

.taskDetails {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0.5rem;
	gap: 0.5rem;
	cursor: default;
	overflow: hidden;
}

.taskTitle {
	width: 100%;
	max-height: 100px;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
	color: #000000;
}

.itemCategory {
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemCategory input[type="checkbox"] {
	max-width: 1rem !important;
	max-height: 1rem !important;
	min-width: 1rem !important;
	min-height: 1rem !important;
	pointer-events: none;
	margin: 0;
}

.taskCategory {
	width: 100%;
	font-size: 1rem;
	color: #111111;
	/* margin-left: 0.5rem; */
}

.taskActions {
	min-width: 50px;
	max-width: 50px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	gap: 0.5rem;
	border-left: 1px solid #555555;
}

.editBtn,
.deleteBtn {
	margin: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #888888;
}

.editBtn:hover,
.deleteBtn:hover {
	color: #000000;
}

.createDiv {
	display: flex;
	justify-content: end;
	gap: 2rem;
}

.createDiv input,
.createDiv button {
	margin: 5px 0 !important;
}

.createBtn {
	min-width: 130px;
	border: none;
	margin: 0;
	padding: 0.5rem 1rem;
	border-radius: 7px;
	opacity: 0.6;
	color: #ffffff;
	font-weight: bold;
	background: linear-gradient(to right, #4CAF50, #f44336);
	cursor: pointer;
	transition: background-color 0.3s;
}

.createBtn:hover {
	opacity: 1;
}

.isInvalid {
	border-color: red;
}

.addTaskFooter {
	width: 100%;
	min-height: 160px;
	max-height: 160px;
	display: flex;
	align-items: center;
	border-top: 1px solid #555555;
	gap: 1rem;
}

.newTask {
	padding: 0.5rem 0 0;
	width: 100%;
}

button {
	color: #FFFFFF;
}

.isFirtsOfList {
	margin-top: 0 !important;
}

.isLastOfList {
	margin-bottom: 0 !important;
}

.filterBox {
	display: flex;
	border: 1px solid #555555;
	border-radius: 10px;
	padding: 0.5rem;
	background-color: rgb(211, 211, 211, 0.7);
	gap: 1rem;
}

.filterSection {
	justify-content: space-between;
}

.filterSection,
.orderSection {
	display: flex;
	gap: 0 0.5rem;
}

.filtersBtnsDiv {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.filtersBtnsDiv label {
	height: 25px;
	align-content: center;
	margin: 0 0.7rem 0 0.3rem;
	cursor: pointer;
}

.rdBtn {
	min-width: 15px !important;
	max-width: 15px !important;
	min-height: 25px !important;
	max-height: 25px !important;
	margin: 0 !important;
	cursor: pointer;
}

.filterSection p {
	font-weight: bold;
	margin: 0;
}

.selectWrapper {
	width: 50%;
}

.selectWrapper label {
	font-weight: bold;
}

.selectWrapper select {
	margin: 0 !important;
}

/* Media queries */
@media (min-width: 0px) {
	.todoContainer {
		width: 95% !important;
	}

	.filterSection, .orderSection {
		width: 100%;
	}

	.filterSection {
		flex-direction: column;
	}

	.filterBox {
		flex-direction: column;
	}
}

@media (min-width: 768px) {
	.filterBox {
		flex-direction: row;
	}

	.filterSection, .orderSection {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.todoContainer {
		width: 90% !important;
	}
}

@media (min-width: 1440px) {
	.todoContainer {
		width: 85% !important;
	}
}

@media (min-width: 1920px) {
	.todoContainer {
		width: 80% !important;
	}
}

@media (min-width: 2560px) {
	.todoContainer {
		width: 70% !important;
	}
}

/* / Media queries */